{% head %}
  {% if tag != blank %}
    <meta property="og:description" content="{{ tag.description }}">
    <meta property="og:image" content="{{ tag.image_url }}" />
    <meta property="og:url" content="{{ home_url }}" />
    <meta name="description" content="{{ tag.description }}">
    <meta name="image" content="{{ tag.image_url }}" />
    <meta meta="url" content="{{ home_url }}" />

    <title>{{ tag.title }}</title>
  {% endif %}

  <link
    href="pages/home_above.css"
    inline
    rel="stylesheet"
    type="text/css">
  <link
    rel="stylesheet"
    href="{{ 'pages/home.css' | stylesheet_path }}"
    media="print"
    onload="this.media='all'" />
{% endhead %}

{% body %}
  <script src="{{ 'home.js' | javascript_path }}"></script>
{% endbody %}

{% comment %} ========== {% endcomment %}

{% if mobile %}
  {% render 'partials/content/home/fullbanner', position: 'home-banner-principal-mobile', resolution: '-mobile', aux: '-principal' %}
{% else %}
  {% render 'partials/content/home/fullbanner', position: 'home-banner-principal', resolution: '-desktop', aux: '-principal' %}
{% endif %}

{% comment %}
<section>
  <div class="language">
    <div class="select">
        <a href="/?language=pt-br">
          BRA
        </a>
        <a href="/?language=en">
          INTL
        </a>
    </div> 
  </div>
</section>
{% endcomment %}

{% render 'partials/components/carousel', tag_name: 'home-produtos-superior' %}
{% render 'partials/content/home/categories', position: 'home-banner-categorias', limit: 12 %}
{% comment %}
{% render 'partials/components/carousel', tag_name: 'home-produtos-inferior' %}
{% endcomment %}
{% render 'partials/content/home/campanha', position: 'home-banner-campanha', limit: 12 %}

{% comment %}
{% render 'partials/content/home/icons', position: 'home-banner-icones' %}
{% render 'partials/content/home/fullbanner', position: 'home-banner-secundario', resolution: '-desktop', aux: '-secundario' %}
{% render 'partials/content/home/fullbanner', position: 'home-banner-secundario-mobile', resolution: '-mobile', aux: '-secundario' %}
{% render "partials/content/home/seo", position: 'home-banner-seo', limit: 1 %}
{% render 'partials/content/home/grid_products', tag_name: 'home-produtos-listagem', per_page: 12, infinity: true %}
{% endcomment %}
{% render "partials/content/home/highlight", position: 'home-banner-grid', limit: 1 %}
{% render 'partials/content/home/elasusam', position: 'home-banner-elas-usam', limit: 12 %}
{% render "partials/content/home/instagram": environment: environment %}