{% gtm product_detail: product %}
{% head %}
  {% opengraphfor product %}

  <link
    href="pages/product_above.css"
    inline
    rel="stylesheet"
    type="text/css">
  <link
    rel="stylesheet"
    href="{{ 'pages/product.css' | stylesheet_path }}"
    media="print"
    onload="this.media='all'" />
{% endhead %}

{% body %}
  <script src="{{ 'product.js' | javascript_path }}"></script>
{% endbody %}

{% comment %} ========== {% endcomment %}

{% assign current_product = product %}

{% assign descricao_curta = false %}
{% assign descricao_parts = false %}

{% if product.description contains '<hr/>' %}
  {% assign descricao_curta = product.description | split: '<hr/>' | first %}
  {% assign descricao_parts = product.description | split: '<hr/>' %}
{% else %}
  {% assign descricao_curta = product.description %}
{% endif %}

{% assign tag_medidas = product.tags | where: 'type', 'guia-de-medidas' | first %}
{% assign relacionado = product.tags | where: 'type', 'relacionado' | first %}


<section
  class="section product-section {% if mobile != true %}container{% endif %}"
  data-product-box
  data-section-product>
  <div class="product-wrap">
    <div class="left-container">
      <div class="product-images" data-product-images>
        {% render 'partials/content/product/images/images', product: product %}
      </div>
      {% comment %}
      {% if descricao_parts %}
      <div class="desktop-only">
      <div class="secondary-infos">
      {% render 'partials/content/product/secondary_infos', product: product, descricao_parts: descricao_parts, tag_medidas: tag_medidas %}
      </div>
      </div>
      {% endif %}
      {% endcomment %}
    </div>

    <div class="right-container">
      <div class="product-infos {% if mobile %}container{% endif %}">
        {% render 'partials/content/product/infos/infos', product: product, descricao_curta: descricao_curta, tag_medidas: tag_medidas, current_shop: current_shop, home_url: home_url %}
      </div>

      {% comment %}
      {% if descricao_parts %}
      <div class="mobile-only">
      <div class="secondary-infos">
      {% render 'partials/content/product/secondary_infos', product: product, descricao_parts: descricao_parts %}
      </div>
      </div>
      {% endif %}
      {% endcomment %}

      {% render 'partials/content/product/banner', current_product: product %}

      {% render 'partials/content/product/size_guide', product: product, tag_medidas: tag_medidas %}

      {% comment %} Popula com as variants dos produtos para o comportamento de seleção de variants {% endcomment %}
      {% body %}
        <script>
          window.mainProduct = {{ product.id }}
          productVariants['{{ product.id }}'] = {{ product.variants | to_json }};
        </script>
      {% endbody %}
    </div>
  </div>
  {% render 'partials/content/product/group_shop', current_product: product %}
  {% comment %}  
  {% render 'partials/content/product/combine_with', current_product: product %}
  {% endcomment %}{% if relacionado %}
    <div class="related-products">
      <h2>Você também pode gostar</h2>
      {% render 'partials/components/carousel', tag_name: relacionado.name, current_product: product, templateInfo: 'product' %}
    </div>
  {% endif %}
</section>