<div class="actions">
  <ul class="menu-social-topo">
    {% load_menus position: "menu-social-topo" %}
    {% for menu in loaded_menus %}
    <li class="{{ menu.tooltip }}">
      <a href="{{ menu.url }}" {% if menu.external %}target="_blank" {% endif %}>
        <svg class="icon">
          <use xlink:href="#icon-{{ menu.tooltip }}" />
        </svg>
        <p class="insta">
          {{ menu.description }}
          <strong>{{ menu.title }}</strong>
        </p>
      </a>


    </li>
    {% endfor %}
  </ul>
  <div class="cart">
    <button type="button" class="btn-cart" aria-label="Abrir carrinho" data-toggle-cart>
      <svg class="icon">
        <use xlink:href="#icon-cart" />
      </svg>
      <span class="count" data-cart-count>0</span>
    </button>
  </div>
</div>