{% load_banners position: position %}

<section class="section container side-by-side">
  {% for banner in loaded_banners %}
    <div class="side-by-side-content">
        {% if banner.file_url != blank %}
          {% capture data_srcset %}
          {{ banner.file_url | resize: '360x' }} 360w,
          {{ banner.file_url | resize: '480x' }} 480w,
          {{ banner.file_url | resize: '780x' }} 780w,
          {{ banner.file_url }} 1920w,
        {% endcapture %}

        {% capture data_sizes %}
          (max-width: 360px) 360px,
          (max-width: 767px) 480px,
          (min-width: 768px) 780px,
          (min-width: 1920px) 1920px,
        {% endcapture %}

        <figure class="image -square">
          <img class="lazy" data-srcset="{{ data_srcset | strip_newlines | strip }}" data-sizes="{{ data_sizes | strip_newlines | strip }}" alt="{{ tag.title }}"/>
          <div class="skeleton"></div>
        </figure>
      {% endif %}

      <div class="text">
        {% if banner.subtitle %}
          <span class="upper-title">
            {{banner.subtitle}}
          </span>
          
          {{ banner.description | replace: '<h2', '<h2 class="title"' }}
        {% endif %}
      </div>
    </div>
  {% endfor %}
</section>
  