{% comment %}
para descrições de produto temos apenas um campo no admin da plataforma Vnda. por isso, utilizamos do markdown e filtros do liquid para separar e utilizar esse campo de diversas formas.

esse é um exemplo de como podemos utilizar o campo de descrição para criarmos uma descrição curta e collapses de conteúdos.

o cadastro é feito da seguinte forma:

```
Texto da descrição curta

***

## Titulo da primeira tab

Texto da primeira tab

***

## Titulo da segunda tab

Texto da segunda 
```

onde *** separa a descrição curta e os collapses (deve ter *** entre cada collapse)
e ## delimita o titulo do collapse
{% endcomment %}

{% comment %}
sempre precisamos inicializar as variáveis, pois o liquid retorna erro caso utilizamos variáveis que não existem
{% endcomment %}{% assign shortDescription = product.description %}{% assign descriptionParts = false %}

{% comment %}
precisamos verificar de a nossa descrição contém o elemento que vamos utilizar o split, para que só façamos o split se realmente for necessário

no cadastro informamos *** no markdown, e product.description irá retornar o html correspondente, <hr/>

o filtro split nos retorna um array com os valores, e iremos pegar o primeiro (first) e armazenaremos na variável shortDescription

e armazenaremos o array inteiro na variável descriptionParts, para depois montarmos os collapses
{% endcomment %}{% if product.description contains '<hr/>' %}
  {% assign shortDescription = product.description | split: '<hr/>' | first %}
{% assign descriptionParts = product.description | split: '<hr/>' %}
{% endif %}

{% comment %}
fazemos um loop na variável descriptionParts para montar os collapses
lembrando que descriptionParts é um array
{% endcomment %}
  <ul class="m-d expand-list"> {% for desc in descriptionParts %}
    {% if desc contains '</h2>' %}


      {% assign tab_title = desc | split: '</h2>' | first | strip_html %}
      {% assign tab_content = desc | split: '</h2>' | last %}

        {% capture html_description_tabs %}
        {{ html_description_tabs }}
        {% comment %}

        <div class="tab-container"> <a
        class="tab-title"
        open-tab
        data-tab="tab-{{ forloop.index }}">{{ tab_title }}</a>
        <div class="content">
        {{ tab_content }}
        </div>
        </div>
        {% endcomment %}

        <li data-md-content="500">
          <label
            name="tab"
            for="tab{{ forloop.index }}"
            tabindex="-1"
            class="tab_lab"
            role="tab">
            <h3>{{ tab_title }}</h3>
          </label>
          <input
            type="checkbox"
            {% if forloop.index == 1 %}checked{% endif %}
            class="tab"
            id="tab{{ forloop.index }}"
            tabindex="0" />
          <span class="open-close-icon">
            <i class="fas fa-plus"></i>
            <i class="fas fa-minus"></i>
          </span>
          <div class="content">
            {{ tab_content }}
          </div>
        </li>
      {% endcapture %}
    {% endif %}
  {% endfor %}

  {{ html_description_tabs }}
</ul>